:root {
    --color-bg: #202020;
    --color-fg: #d3cec1;
    --color-link: #8F9191;
    --color-link-visited: #c8bed1;
    --color-link-hover: #d3cec1;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "jetbrains mono";
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.window {
  position: absolute;
  height: 99.6%;
  width: 99.6%;
  z-index:99;
  pointer-events: none;
}

@media (max-width: 1082px) {
    .window { display: none;
    }
}

#scanlines {
    background-image: url("scanlines.png");
    background-repeat: repeat;
    position:absolute; top: 0px; left: 0px;
    width: 100%; height: 100%; z-index:9999;
    animation: scanAnim 1s infinite;
    animation-timing-function: linear;
    pointer-events: none;
    background-color: transparent;
}

@keyframes scanAnim {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 8px;
    }
}

.container {
  display: grid;
  grid-template-columns: 1fr 360px 480px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 20px;
  justify-items: center;
  align-items: center;
  min-height: 100%;
  height: 60%;
}

.left-container {
  grid-area: left;
  aspect-ratio: 1/1;
  padding-top: 50px;
  padding-left: 0px;
  max-width: 70%;
  max-height: 70%;
}

.right-container {
  grid-area: right;
  height: 50%;
  width: 100%;
}

.png img {
  max-width: 100%;
  max-height: 100%;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 32px;
  padding-top: 60px;
  padding-left: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.title {
  font-size: 16px;
}

li {
  font-size: 12px;
  list-style-type: none;
  padding: 3px
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Stolen from http://aleclownes.com/2017/02/01/crt-display.html*/

/*This adds a "crt scanlines" effect to the screen*/
.crt-scanlines::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgb
a(0, 0, 255, 0.06));
        z-index: 999;
        background-size: 100% 2px, 3px 100%;
        pointer-events: none;
}
